.container{
    /*border: 1px solid black;*/
    height: 200vh;
}

.productpadding{
    margin-left: 100px;
    /*position: absolute;*/
}

.productpadding img{
    width: 50%;
    float: left;
}

.productformat{
    /*text-align: right;*/
    float: right;
    margin: auto;
    padding-left: 100px;
    width: 37%;
    height: 500px;
    /*border: 1px solid black;*/
}

.textpadding{
    
    padding-right: 200px;
    padding-top: 100px;
}

